<div class="sailor-card">
  <div class="sailor-card-title">{{ sailor.id }} - {{ sailor.name }} {{ sailor.surname }}</div>
  <div class="label-value-list">
    <div class="label-value-item">
      <span class="label">Email:</span>
      <span class="value">{{ sailor.email }}</span>
    </div>
    <div class="label-value-item">
      <span class="label">Date of Birth:</span>
      <span class="value">{{ sailor.dateOfBirth | date: 'dd/MM/yyyy' }}</span>
    </div>
  </div>
  <div class="sailor-card-actions">
    <button class="button-delete" (click)="delete.emit(sailor.id)">Delete</button>
</div>
</div>