.sailor-card {
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 400px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sailor-card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
  cursor: pointer;
}

.label-value-list {
  border-top: 1px solid #eee;
  padding-top: 10px;
}

.label-value-item {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}

.label-value-item:last-child {
  border-bottom: none;
}

.label {
  font-weight: bold;
  color: #333;
}

.value {
  color: #555;
  text-align: right;
}

.sailor-card-actions {
  margin-top: 15px;
  text-align: end;
}

.button-edit,
.button-cancel {
  border: 1px solid blue;
  background-color: transparent;
  padding: .5rem;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
  margin-right: 5px;
}

.button-delete {
  border: 1px solid red;
  background-color: transparent;
  padding: .5rem;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.button-save {
  border: 1px solid green;
  background-color: transparent;
  padding: .5rem;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.button-delete:hover,
.button-edit:hover {
  background-color: #eee;
}

input {
  padding: 5px;
  box-sizing: border-box;
}